@model ResultWithPagingDataDto<List<BranchDto>>
@{
    int totalButtonsToShow = 6;
    int halfButtonsToShow = totalButtonsToShow / 2;
    int startPage = Math.Max(1, Model.PageNumber - halfButtonsToShow);
    int endPage = Math.Min(Model.TotalPages, startPage + totalButtonsToShow - 1);
    
}
<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (Model.PageNumber > 1)
        {
            <li class="page-item first">
                <a class="page-link" asp-controller="Branch" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-pageNumber="1"><i class="tf-icon bx bx-chevrons-left"></i></a>
            </li>
            <li class="page-item prev">
                <a class="page-link" asp-controller="Branch" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-pageNumber="@(Model.PageNumber-1)"><i class="tf-icon bx bx-chevron-left"></i></a>
            </li>
        }
        @for (int i = startPage; i <= endPage; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-controller="Branch" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-pageNumber="@i">@i</a>
            </li>
        }
        
        
        @if (Model.PageNumber < Model.TotalPages)
        {
            <li class="page-item next">
                <a class="page-link" asp-controller="Branch" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-pageNumber="@(Model.PageNumber+1)"><i class="tf-icon bx bx-chevron-right"></i></a>
            </li>
            <li class="page-item last">
                <a class="page-link" asp-controller="Branch" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-pageNumber="@(Model.TotalPages)"><i class="tf-icon bx bx-chevrons-right"></i></a>
            </li>
        }
        <li>
            <p>Toplam Sayı :@Model.TotalRecords</p>
        </li>
    </ul>
</nav>