@using Core.Enums
@using Core.Querys
@model ResultWithPagingDataDto<List<PassivePersonalDto>>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageNumber = Convert.ToInt32(Context.Request.Query["pageNumber"]);
    if (pageNumber == 0)
    {
        pageNumber = 1;
    }
    PersonalQuery query = new PersonalQuery
    {
        search = @Model.SearchParams,
        gender = Context.Request.Query["gender"],
        branch = Context.Request.Query["branch"],
        position = Context.Request.Query["position"],
        retired = Context.Request.Query["retired"], // true veya false olarak ayarlayın
    };

    // PersonalQuery nesnesini JSON formatına çevirerek URL içinde kullanmak için hazırlayın
    string queryJson = System.Text.Json.JsonSerializer.Serialize(query);
}
<!--Heading Area-->
<div class="page-header d-print-none" xmlns="http://www.w3.org/1999/html">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Personeller
                </div>
                <h2 class="page-title">
                    Tüm Çıkarılan Personeller
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <a class="btn btn-green" asp-controller="PassivePersonal" asp-action="ExportExcel" asp-route-query="@queryJson">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-spreadsheet" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                <path d="M8 11h8v7h-8z"></path>
                                <path d="M8 15h8"></path>
                                <path d="M11 11v7"></path>
                            </svg>
                            Excel Raporu
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Heading Area-->
@if (!Model.IsSuccess)
{
    <div class="text-center">
        <h1 class="display-4">Üzgünüz</h1>
        <p>@Model.Message</p>
        <p>@Model.Err</p>
    </div>
}
else
{
<div class="card container-xl mt-3">
    <div class="row">
            <div class="col-6">
                <div class="p-3">
                    <!-- Data Filter-->
                    <div class="row">
                        <div class="col-md-6">
                            <form class="d-flex" asp-controller="PassivePersonal" asp-action="Index" method="get">
                                <input class="form-control me-2" type="search" placeholder="Ara" name="search" aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit">Ara</button>
                            </form>
                        </div>
                        <div class="col-md-1">
                            <form class="">
                                <div class="dropdown filter-dropdown">
                                    <button class="btn btn-outline-secondary btn-icon" data-bs-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 20l-3 1v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v3"></path>
                                            <path d="M19 16v6"></path>
                                            <path d="M22 19l-3 3l-3 -3"></path>
                                        </svg>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end ">
                                        <div class="dropdown-header" style="width: 250px;">Detaylı Filtre</div>
                                        <div class="p-3">
                                            <div class="form-group">
                                                <label class="form-label">Şube *</label>
                                                <select name="branch" id="branchSelect" class="form-select selectListTom" asp-items="@(new SelectList(ViewBag.Branches, "ID", "Name"))">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <div class="form-group mt-2">
                                                <label class="form-label">Ünvan *</label>
                                                <select name="position" id="positionSelect" type="text" class="form-select selectListTom"
                                                        asp-items="@(new SelectList(ViewBag.Positions, "ID", "Name"))">
                                                    <option value=""></option>
                                                </select>

                                            </div>
                                            <div class="row mt-2">
                                                <div class="form-check col-6">
                                                    <input name="gender" value="erkek" class="form-check-input" type="radio" id="checkbox1">
                                                    <label class="form-check-label" for="checkbox1">Erkek</label>
                                                </div>
                                                <div class="form-check col-6">
                                                    <input name="gender" value="kadin" class="form-check-input" type="radio" id="checkbox2">
                                                    <label class="form-check-label" for="checkbox2">Kadın</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-check col-6">
                                                    <input name="retired" value="true" class="form-check-input" type="checkbox" id="checkbox3">
                                                    <label class="form-check-label" for="checkbox3">Emekli</label>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button class="btn btn-outline-primary me-4 " type="submit">Filtrele</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <!--Temizle Butonu-->
                        <div class="col-md-5">
                            @if (Context.Request.Query.Any(kvp => kvp.Key != "pageNumber" && !string.IsNullOrEmpty(kvp.Value)))
                                
                            {
                                <a asp-route-search="" asp-route-pageNumber="1" class="btn btn-outline-secondary ms-3">Temizle</a>

                            }
                        </div>
                        <!--Temizle Butonu-->
                    </div>
                    <!-- Data Filter-->
                </div>
            </div>
        <div class="col-2">
        </div>
        <div class="col-4 p-3 text-end">
            @if (Context.Request.Query.Any(kvp => kvp.Key != "pageNumber" && !string.IsNullOrEmpty(kvp.Value)))
            {
                <button type="button" class="btn">Filtrelenen Çıkarılan Personel
                    <span class="badge bg-secondary ms-2">@Model.TotalRecords</span>
                </button>
            }
            else
            {
                <button type="button" class="btn">Toplam Çıkarılan Personel
                    <span class="badge bg-secondary ms-2">@Model.TotalRecords</span>
                </button>
            }
        </div>
        </div>
    <table class="table mt-3">
        <thead>
        <tr>
             <th>Sicil No</th>
            <th>Adı Soyadı</th>
            <th>Şube</th>
            <th>Ünvan</th>
            <th>Cinsiyet</th>
            <th>İşe Giriş Tarihi</th>
            <th>Çıkarılma Tarihi</th>
            <th>EYT</th>
            <th>Hak Ettiği izin</th>
            <th>Kullandığı İzin</th>
            <th>Kalan İzin</th>

        </tr>
        </thead>
        <tbody class="table-border-bottom-0">
        @foreach (var data in Model.Data)
        {
            <tr>
                <td>@data.RegistirationNumber</td>
                <td>
                    <a asp-controller="PersonalDetail" asp-action="Edit" asp-route-id="@data.ID">@data.NameSurname</a>
                </td>
                <td>@data.Branch.Name</td>
                <td>@data.Position.Name</td>
                <td>
                    @if (@data.Gender == "Erkek")
                    {
                        <span class="badge bg-cyan">Erkek</span>
                    }
                    else
                    {
                        <span class="badge bg-pink">Kadın</span> 
                    }
                </td>
                <td>@data.StartJobDate.ToString("dd/MM/yyyy")</td>
                
                    @if (@data.EndJobDate == null)
                    {
                        <td>Yok</td>
                    }
                    else{
                        <td>@data.EndJobDate?.ToString("dd/MM/yyyy")</td>
                    }
                
                <td>
                    @{
                        if (data.RetiredOrOld)
                        {
                            <span class="badge bg-purple">EYTli</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">EYTli Değil</span>
                        }
                    }
                </td>
                <td>
                    @data.TotalYearLeave
                </td>
                <td>
                    @data.UsedYearLeave
                </td>
                <td>
                    @(data.TotalYearLeave - data.UsedYearLeave)
                </td>
            </tr>

        }
        </tbody>
    </table>
    <div class="border-top pt-3 mx-3">
        @await Component.InvokeAsync("PassivePersonalPagination")
    </div> 
</div>


  
}

