@using Core.Enums
@model List<ReadPersonalDto>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    int pageNumber = System.Convert.ToInt32(Context.Request.Query["pageNumber"]);
    if (pageNumber == 0)
    {
        pageNumber = 1;
    }
}

<h2>Tüm Personeller</h2>
<div class="card">
    <div class="row">
        <div class="col-8">
            <h5 class="card-header">
                Tüm Personeller
            </h5></div>
        <div class="col-4 d-inline-flex justify-content-end ">
            <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#addModal">Personel Ekle</button>
        </div>
        </div>
    <table class="table">
        <thead>
        <tr>
            <th>Adı Soyadı</th>
            <th>TC Kimlik No</th>
            <th>Sicil No</th>
            <th>Şube</th>
            <th>Ünvan</th>
            <th>İşe Giriş Tarihi</th>
            <th>EYT</th>
            <th>Aktif Mi?</th>
            <th>Sil</th>

        </tr>
        </thead>
        <tbody class="table-border-bottom-0">
        @foreach (var data in Model)
        {
            <tr>
                <td>
                        <a href="blank">@data.NameSurname</a>
                </td>
                <td>@data.IdentificationNumber</td>
                <td>@data.RegistirationNumber</td>
                <td>@data.Branch.Name</td>
                <td>@data.Position.Name</td>
                <td>@data.StartJobDate.ToString("dd/MM/yyyy")</td>
                <td>
                    @{
                        if (data.RetiredOrOld)
                        {
                            <span class="badge bg-danger">Emekli</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Emekli Değil</span>
                        }
                    }
                </td>
                <td>
                    @{
                        if (data.Status == EntityStatusEnum.Online)
                        {
                            <span class="badge bg-success">Aktif</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Pasif</span>
                        }
                    }
                </td>
                <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#archivePersonal" data-item-id="@data.ID">Sil</button>
                </td>
            </tr>

        }
        </tbody>
    </table>
</div>
@await Component.InvokeAsync("AddPersonal")
<!--ArchiveModal-->
<form asp-controller="Personal" asp-action="ArchivePersonal" method="post">
    <div class="modal fade" id="archivePersonal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Personel Sil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger" role="alert">
                        İlgili Personel Silinecektir!!!
                        <br />
                        Emin Misiniz?
                    </div>
                    <input type="hidden" id="itemIdInput" name="id">
                    <input type="hidden" name="pageNumber" value="@pageNumber">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal Et</button>
                    <button type="submit" class="btn btn-danger">Sil</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    // Sil butonuna tıklanınca
    document.querySelectorAll(".btn-danger.btn-sm").forEach(function (button) {
        button.addEventListener("click", function () {
            var itemId = button.getAttribute("data-item-id"); // data-item-id değerini alın
            document.getElementById("itemIdInput").value = itemId; // inputa taşıyın
        });
    });


</script>
