@model ResultWithPagingDataDto<List<PositionDto>>
@{
    int totalButtonsToShow = 6;
    int halfButtonsToShow = totalButtonsToShow / 2;
    int startPage = Math.Max(1, Model.PageNumber - halfButtonsToShow);
    int endPage = Math.Min(Model.TotalPages, startPage + totalButtonsToShow - 1);
    var passive = Context.Request.Query["passive"];
}
<nav aria-label="Page navigation">
    <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                <li class="page-item first">
                    <a class="w-33 h-px-30 page-link" asp-controller="Position" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-passive="@passive" asp-route-pageNumber="1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M10 12l10 0"></path>
                           <path d="M10 12l4 4"></path>
                           <path d="M10 12l4 -4"></path>
                           <path d="M4 4l0 16"></path>
                        </svg>
                    </a>
                </li>
                <li class="page-item prev">
                    <a class="w-33 h-px-30 page-link" asp-controller="Position" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-passive="@passive" asp-route-pageNumber="@(Model.PageNumber - 1)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M5 12l14 0"></path>
                           <path d="M5 12l6 6"></path>
                           <path d="M5 12l6 -6"></path>
                        </svg>
                    </a>
                </li>
            }
            @for (int i = startPage; i <= endPage; i++)
            {
                <li  class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="w-33 h-px-30 page-link" asp-controller="Position" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-passive="@passive" asp-route-pageNumber="@i">@i</a>
                </li>
            }
            
            
            @if (Model.PageNumber < Model.TotalPages)
            {
                <li class="page-item next">
                    <a class="w-33 h-px-30 page-link" asp-controller="Position" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-passive="@passive" asp-route-pageNumber="@(Model.PageNumber + 1)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M5 12l14 0"></path>
                           <path d="M13 18l6 -6"></path>
                           <path d="M13 6l6 6"></path>
                        </svg>
                    </a>
                </li>
                <li class="page-item last">
                    <a class="w-33 h-px-30 page-link" asp-controller="Position" asp-action="Index" asp-route-search="@Model.SearchParams" asp-route-passive="@passive" asp-route-pageNumber="@(Model.TotalPages)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M14 12l-10 0"></path>
                           <path d="M14 12l-4 4"></path>
                           <path d="M14 12l-4 -4"></path>
                           <path d="M20 4l0 16"></path>
                        </svg>
                    </a>
                </li>
            }
        </ul>
</nav>
