@using Core.Enums
@model IResultWithDataDto<BranchDto>

@{
    ViewBag.Title = "Şube Güncelle";
    Layout = "_Layout";
}
@if (!Model.IsSuccess)
{
    <div class="card container-xl mt-3">
        <div class="text-center p-5">
            <h1 class="display-4 text-danger">Üzgünüz</h1>
            <p>@Model.Message</p>
            <p>@Model.Err</p>
        </div>
    </div>
}
else
{
    <form id="updateForm" method="post" action="/sube-duzenle">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <h2 class="page-title">
                            Şube Düzenle
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <span class="d-none d-sm-inline">
                                <a href="/deneme-url?returnUrl=@ViewData["ReturnUrl"]" class="btn">
                                    Boş Kutu
                                </a>
                            </span>

                            <button id="submitButton" type="button" class="btn btn-warning text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                                </svg>
                                Şubeyi Düzenle
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card container-xl mt-3">
            <table class="table">
                <thead>
                <tr>
                    <th>Şube Adı</th>
                    <th>Aktif Mi?</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Güncellenme Tarihi</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                <tr>
                    <td>
                        <input class="form-control" asp-for="Data.Name"/>
                        <input type="hidden" asp-for="Data.ID"/>
                        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]"/>

                    </td>
                    <td>
                        <div class="btn-group w-100" role="group">
                            <div class="form-selectgroup form-selectgroup-boxes d-flex">
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" value="1" asp-for="Data.Status" class="form-selectgroup-input" checked="@(Model.Data.Status == EntityStatusEnum.Offline)">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            <strong>Pasif</strong>
                                        </div>
                                    </div>
                                </label>
                                <label class="form-selectgroup-item flex-fill">
                                    <input type="radio" value="0" asp-for="Data.Status" class="form-selectgroup-input"
                                           checked="@(Model.Data.Status == EntityStatusEnum.Online)">
                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                        <div class="me-3">
                                            <span class="form-selectgroup-check"></span>
                                        </div>
                                        <div>
                                            <strong>Aktif</strong>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Model.Data.CreatedAt.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Model.Data.ModifiedAt.ToString("dd/MM/yyyy")
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded',function() {
           $('#submitButton').on('click',function (e) {
               spinnerStart($('#submitButton'))
                  e.preventDefault();
                  let formData = $("#updateForm").serializeArray();
                  $.ajax({
                      type: "POST",
                      url: "/sube-duzenle",
                      data: formData // Form verilerini al
                  }).done(function (res) {
                      spinnerEnd($('#submitButton'))
                      if (res.isSuccess){
                          $('#success-modal-message').text("Şube Başarılı Bir Şekilde Güncellendi.")
                          $('#success-modal').modal('show')
                          $('#success-modal-button').click(function () {
                             window.location.href = "@ViewData["ReturnUrl"]";
                          });
                      }
                      else{
                          $('#error-modal-message').text(res.message)
                          $('#error-modal').modal('show')
                      }
                  })
              });
        })
    </script>
}