@using Core.Enums
@model ResultWithPagingDataDto<List<BranchDto>>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var pageNumber = Convert.ToInt32(Context.Request.Query["pageNumber"]);
    if (pageNumber == 0)
    {
        pageNumber = 1;
    }
}
<!--Heading Area-->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Şubeler
                </div>
                <h2 class="page-title">
                    Silinmiş Tüm Şubeler
                </h2>
            </div>
        </div>
    </div>
</div>
<!--Heading Area-->
@if (!Model.IsSuccess)
{
    <div class="text-center">
        <h1 class="display-4">Üzgünüz</h1>
        <p>@Model.Message</p>
        <p>@Model.Err</p>
    </div>
}
else
{
<div class="card container-xl mt-3">
    <div class="row">
        <div class="col-4">
            <form class="d-flex p-3" asp-controller="Recovery" asp-action="DeletedBranch" method="get">
                <input class="form-control me-2" type="search" placeholder="Ara" name="search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Ara</button>
                @if (!string.IsNullOrEmpty(Context.Request.Query["search"]))
                                    {
                                        <a asp-route-search="" asp-route-pageNumber="1" class="btn btn-outline-secondary">Temizle</a>
                                    }
                </form>
        </div>
        <div class="col-4"></div>
        <div class="col-4 p-3 text-end">
            @if (Context.Request.Query.Any(kvp => kvp.Key != "pageNumber" && !string.IsNullOrEmpty(kvp.Value)))
            {
                <button type="button" class="btn">Filtrelenen Silinen Şube
                    <span class="badge bg-danger ms-2">@Model.TotalRecords</span>
                </button>
            }
            else
            {
                <button type="button" class="btn">Toplam Silinen Şube
                    <span class="badge bg-danger ms-2">@Model.TotalRecords</span>
                </button>
            }
        </div>
        
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Şube Adı</th>
            <th>Durum</th>
            <th>Oluşturulma Tarihi</th>
            <th>Silinme Tarihi</th>
            <th>Geri Getir</th>
        </tr>
        </thead>
        <tbody class="table-border-bottom-0">
        @foreach (var data in Model.Data)
        {
            <tr>
                <td>@data.Name</td>
                <td>
                    @if (data.Status == EntityStatusEnum.Archive)
                    {
                        <span class="badge bg-danger">Silinmiş</span> 
                    }
                    
                </td>
                <td>
                    @data.CreatedAt.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @data.DeletedAt.ToString("dd/MM/yyyy")
                </td>
                <td>
                    <a asp-controller="Recovery" asp-action="RecoverBranch" asp-route-id="@data.ID" asp-route-pageNumber="@Model.PageNumber" class=" btn btn-sm btn-success btn-pill w-50">Geri Döndür</a>
                </td>
            </tr>
        }
        </tbody>
        
    </table>
     <div class="border-top pt-3 mx-3">
         @await Component.InvokeAsync("DeletedBranchPagination")
     </div> 
</div>
}
