@model ResultWithPagingDataDto<List<Core.DTOs.MissingDayDtos.ReadDtos.ReadMissingDayDto>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var sayfa = Convert.ToInt32(Context.Request.Query["sayfa"]);
    var returnUrl = Context.Request.GetDisplayUrl();
    var maxVisiblePages = 5;
    var startPage = Math.Max(1, Model.PageNumber - (maxVisiblePages / 2));
    var endPage = Math.Min(Model.TotalPages, startPage + (maxVisiblePages - 1));
    var personelIdQuery = Context.Request.Query["id"].ToString();
}

<!--Top Header-->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Personeller
                </div>
                <h2 id="HeaderPersonalNameSurname" class="page-title"></h2>
                <div id="HeaderPersonalBranchPosition" class="page-pretitle">

                </div>
            </div>
            <!-- Page title actions -->
            <div id="istenCikarilmaTarihiDiv" class="col-auto ms-auto d-print-none">

            </div>
            <div class="col-auto ms-auto d-print-none">
                <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#addModal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 5l0 14"></path>
                        <path d="M5 12l14 0"></path>
                    </svg>
                    Eksik Gün Ekle
                </a>
                <button id="istenCikarButton" type="button" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                        <path d="M15 19l2 2l4 -4"></path>
                    </svg>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--Top Header-->
<div class="card container-xl mt-3">
<div class="card-status-top bg-azure"></div>
<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs flex-row-reverse">
        <li class="nav-item">
            <a id="personelNakilPage" href="/personel-nakil-listesi?id=@personelIdQuery" class="nav-link">Görevlendirmeler</a>
        </li>
        <li class="nav-item">
            <a id="personelEksikGun" href="/personel-eksik-gun-listesi?id=@personelIdQuery" class="nav-link active">Eksik Gün</a>
        </li>
        <li class="nav-item">
            <a id="personelİzinleriPage" href="/personel-izinleri?id=@personelIdQuery" class="nav-link">Personele Ait İzinler</a>
        </li>
        <li class="nav-item">
            <a id="personelDetaylarıPage" href="/personel-detaylari?id=@personelIdQuery" class="nav-link">Personel Detayları</a>
        </li>
    </ul>
</div>

@if (!Model.IsSuccess)
{
    <div class="card container-xl mt-3">
        <div class="text-center p-5">
            <h1 class="display-4 text-danger">Üzgünüz</h1>
            <p>@Model.Message</p>
            <p>@Model.Err</p>
        </div>
    </div>
}
else
{
    <!--FirstCard-->
    <div class="card-body">
        <!-- Card Header-->
        <div class="d-flex align-items-start align-items-sm-center gap-4">
            <span id="personalAvatar" class="avatar avatar-xl mb-4 rounded bg-primary-lt"></span>
            <div class="col">
                <div class="border rounded p-3 mb-2">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-yellow-lt avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/arrow-up -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-dollar" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 21h-7a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3"/><path d="M16 3v4"/><path d="M8 3v4"/><path d="M4 11h12.5"/><path d="M21 15h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5"/><path d="M19 21v1m0 -8v1"/>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="badgeTotalTakenLeave" class="font-weight-medium">

                            </div>
                            <div id="alacak-izin-text" class="text-muted">
                                Alacak İzin Miktarı
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border rounded p-3">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-cyan-lt avatar">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-fish" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.69 7.44a6.973 6.973 0 0 0 -1.69 4.56c0 1.747 .64 3.345 1.699 4.571"/><path d="M2 9.504c7.715 8.647 14.75 10.265 20 2.498c-5.25 -7.761 -12.285 -6.142 -20 2.504"/><path d="M18 11v.01"/><path d="M11.5 10.5c-.667 1 -.667 2 0 3"/>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="badgeFoodAid" class="font-weight-medium">

                            </div>
                            <div id="gida-yardim-text" class="text-muted">
                                Güncel Gıda Yardımı
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border rounded p-3 mb-2">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-green-lt avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/arrow-up -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12.5 21h-6.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v5"></path>
                                    <path d="M16 3v4"></path>
                                    <path d="M8 3v4"></path>
                                    <path d="M4 11h16"></path>
                                    <path d="M16 19h6"></path>
                                    <path d="M19 16v6"></path>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="badgeTotalYearLeave" class="font-weight-medium">

                            </div>
                            <div class="text-muted">
                                Hak Edilen Yıllık İzin Miktarı
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border rounded p-3">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-red-lt avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/arrow-up -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-minus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12.5 21h-6.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v8"></path>
                                    <path d="M16 3v4"></path>
                                    <path d="M8 3v4"></path>
                                    <path d="M4 11h16"></path>
                                    <path d="M16 19h6"></path>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="badgeUsedYearLeave" class="font-weight-medium">

                            </div>
                            <div class="text-muted">
                                Kullanılan Yıllık İzin Miktarı
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="border rounded p-3">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-dark-lt avatar">
                                <!-- Download SVG icon from http://tabler-icons.io/i/arrow-up -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                                    <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                    <path d="M15 3v4"></path>
                                    <path d="M7 3v4"></path>
                                    <path d="M3 11h16"></path>
                                    <path d="M18 16.496v1.504l1 1"></path>
                                </svg>
                            </span>
                        </div>
                        <div class="col">
                            <div id="balanceYearLeave" class="font-weight-medium">

                            </div>
                            <div class="text-muted">
                                Kalan Yıllık İzin
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Card Header-->
    </div>
    <!--FirstCard-->
    <div class="card-body">
        <div class="row">
            <div class="col-7">
                <div class="p-3">
                    <!-- Data Filter-->
                    <div class="row">
                        <div class="col-md-10">
                            <form class="d-flex">
                                <input type="hidden" name="id" value="@personelIdQuery">
                                <select id="filterYear" name="filterYear" class="form-select">
                                    <option value="">Yıl Seçiniz.</option>
                                    @for (var year = 2017; year <= 2050; year++)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>
                                <select id="filterMonth" name="filterMonth" class="form-select ms-2">
                                    <option value="">Ay Seçiniz.</option>
                                    @{
                                        for (int month = 1; month <= 12; month++)
                                        {
                                            <option value="@month">@(new CultureInfo("tr-TR").DateTimeFormat.GetMonthName(month))</option>
                                        }
                                    }
                                </select>
                                <div class="ms-2 justify-content-end">
                                    <button class="btn btn-outline-primary" type="submit">Filtrele</button>
                                </div>
                            </form>
                        </div>

                        <!--Temizle Butonu-->
                        <div class="col-md-2">
                            @if (Context.Request.Query.Any(kvp => kvp.Key != "sayfa" && kvp.Key != "id" && !string.IsNullOrEmpty(kvp.Value)))
                            {
                                <a href="/personel-eksik-gun-listesi?id=@personelIdQuery" class="btn btn-outline-secondary ms-3">Temizle</a>
                            }
                        </div>
                        <!--Temizle Butonu-->
                    </div>
                    <!-- Data Filter-->
                </div>
            </div>

            <div class="col-5 p-3 text-end">
                <div class="row d-inline-flex">

                    <div class="col-2">
                        <span class="">
                            <form method="post" action="/personel-eksik-gun-excel">
                                <button type="submit" class="btn btn-icon btn-green">
                                    <input type="hidden" name="id" value="@Context.Request.Query["id"]">
                                    <input type="hidden" name="filterYear" value="@Context.Request.Query["filterYear"]">
                                    <input type="hidden" name="filterMonth" value="@Context.Request.Query["filterMonth"]">
                                    <input type="hidden" name="sortName" value="@Context.Request.Query["sortName"]">
                                    <input type="hidden" name="sortBy" value="@Context.Request.Query["sortBy"]">
                                    <input type="hidden" name="ReturnUrl" value="@returnUrl">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-spreadsheet" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                        <path d="M8 11h8v7h-8z"></path>
                                        <path d="M8 15h8"></path>
                                        <path d="M11 11v7"></path>
                                    </svg>
                                </button>
                            </form>
                        </span>
                    </div>

                    <div class="col-10">
                        @if (Context.Request.Query.Any(kvp => kvp.Key != "sayfa" && kvp.Key != "id" && !string.IsNullOrEmpty(kvp.Value)))
                        {
                            <button type="button" class="btn">
                                Filtrelenen Eksik Gün Listesi
                                <span class="badge bg-green ms-2">@Model.TotalRecords</span>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn">
                                Toplam Eksik Gün Listesi
                                <span class="badge bg-green ms-2">@Model.TotalRecords</span>
                            </button>
                        }
                    </div>
                </div>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table table-nowrap">
                        <thead>
                        <tr>
                            <th>Adı Soyadı</th>
                            <th>TC Kimlik</th>
                            <th>Şube</th>
                            <th>
                                <button class="table-sort" data-sort="sort-startOffDayDate">İzin Başlangıç Tarihi</button>
                            </th>
                            <th>
                                <button class="table-sort" data-sort="sort-EndOffDayDate">İzin Bitiş Tarihi</button>
                            </th>
                            <th>
                                <button class="table-sort" data-sort="sort-startJobDayDate">İşe Başlama Tarihi</button>
                            </th>
                            <th>
                                <button class="table-sort" data-sort="sort-reason">Sebebi</button>
                            </th>
                            <th>
                                <button class="table-sort" data-sort="sort-createdAt">Oluşturulma Tarihi</button>
                            </th>
                            <th>Sil</th>
            
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        @foreach (var data in Model.Data)
                        {
                            <tr>
            
                                <td class="col-2">
                                    @data.NameSurname
                                </td>
                                <td class="col-2">
                                    @data.IdentificationNumber
                                </td>
                                <td class="col-2">
                                    @data.BranchName
                                </td>
                                <td class="col-1">
                                    <span class="badge bg-secondary">@data.StartOffdayDate.ToString("dd MMMM yyyy", new CultureInfo("tr-TR"))</span>
                                </td>
                                <td class="col-1">
                                    <span class="badge bg-secondary">@data.EndOffDayDate.ToString("dd MMMM yyyy", new CultureInfo("tr-TR"))</span>
                                </td>
                                <td class="col-1">
                                    <span class="badge bg-success">@(data.StartJobDate.HasValue ? data.StartJobDate.Value.ToString("dd MMMM yyyy", new CultureInfo("tr-TR")) : "Yok")</span>
                                </td>
                                <td class="col-1">
                                    @data.Reason
                                </td>
                                <td class="col-1">
                                    <span class="badge bg-purple">@data.CreatedAt.ToString("dd MMMM yyyy HH:mm", new CultureInfo("tr-TR"))</span>
                                </td>
                                <td class="col-1">
                                    <button data-deleteButton type="button" class="btn btn-danger btn-sm text-white btn-pill" data-bs-toggle="modal" data-bs-target="#archiveModal" data-item-id="@data.ID" data-item-personal="">Sil</button>
                                </td>
                            </tr>
                        }
                        </tbody>
            
                    </table>
        </div>
        

        <!--Pagination-->
        <div class="border-top pt-3 mx-3 d-flex justify-content-end">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item first @(Model.PageNumber <= 1 ? "disabled" : "")">
                        <a data-firstButton class="w-33 h-px-30 page-link cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M10 12l10 0"></path>
                                <path d="M10 12l4 4"></path>
                                <path d="M10 12l4 -4"></path>
                                <path d="M4 4l0 16"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="page-item prev @(Model.PageNumber <= 1 ? "disabled" : "")">
                        <a data-prevButton class="w-33 h-px-30 page-link cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 12l14 0"></path>
                                <path d="M5 12l6 6"></path>
                                <path d="M5 12l6 -6"></path>
                            </svg>
                        </a>
                    </li>
                    @for (int i = startPage; i <= endPage; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a data-paginationButton="@Model.PageNumber" class="w-33 h-px-30 page-link cursor-pointer">@i</a>
                        </li>
                    }
                    <li class="page-item next @(Model.PageNumber >= Model.TotalPages ? "disabled" : "")">
                        <a data-nextButton class="w-33 h-px-30 page-link cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 12l14 0"></path>
                                <path d="M13 18l6 -6"></path>
                                <path d="M13 6l6 6"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="page-item last @(Model.PageNumber >= Model.TotalPages ? "disabled" : "")">
                        <a data-lastButton="@Model.TotalPages" class="w-33 h-px-30 page-link cursor-pointer">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 12l-10 0"></path>
                                <path d="M14 12l-4 4"></path>
                                <path d="M14 12l-4 -4"></path>
                                <path d="M20 4l0 16"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <!--AddModal-->
    <form id="addMissingDayForm" method="post" action="/personel-eksik-gun-ekle">
        <div class="modal modal-blur fade" id="addModal" tabindex="-1" style=" padding-left: 0;" aria-hidden="true" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Eksik Gün Ekle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" value="@personelIdQuery" name="PersonalId">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="addModalNameSurnameInput" class="form-label">Personel Adı-Soyadı</label>
                                <span id="addModalNameSurnameInput" class="form-control disabled" disabled></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="addModalBranchInput" class="form-label">Personel Şubesi</label>
                                <span id="addModalBranchInput" class="form-control disabled" disabled></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="addModalIdentificationNumberInput" class="form-label">Personel Tc Kimlik No</label>
                                <span id="addModalIdentificationNumberInput" class="form-control disabled" disabled></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label required">Eksik Gün Nedeni</label>
                                <select id="addModalReasonInput" data-required="true" class="form-select selectListTom" data-reasonSelect name="Reason" placeholder="Eksik Gün Nedeni">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="addModalStartOffdayInput" class="form-label required">İzin Başlangıç Tarihi</label>
                                <input id="addModalStartOffdayInput" type="date" data-required="true" name="StartOffdayDate" class="form-control" placeholder="İzin Başlangıç Tarihi!">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="addModalEndOffdayInput" class="form-label required">İzin Bitiş Tarihi</label>
                                <input id="addModalEndOffdayInput" type="date" data-required="true" name="EndOffDayDate" class="form-control" placeholder="İzin Bitiş Tarihi!">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label class="form-label">İşe Başlama Tarihi (İsteğe Bağlı)</label>
                                <input id="addModalStartJobDateInput" type="date" data-required="false" name="StartJobDate" class="form-control" placeholder="İşe Başlama Tarihi!">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Kapat
                        </button>
                        <button id="addMissingDayButton" type="submit" class="btn btn-primary">Eksik Gün Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--DeleteModal-->
    <form id="deleteForm" action="/personel-eksik-gun-sil" method="post">
        <div class="modal modal-blur fade" id="archiveModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-status bg-danger"></div>
                    <div class="modal-body text-center py-4">
                        <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z"/><path d="M12 9v4"/><path d="M12 17h.01"/>
                        </svg>
                        <h3>Emin Misiniz?</h3>
                        <div class="text-muted">
                            Seçmiş olduğunuz <span class="badge badge-pill" id="personalNamePlaceholder"></span> personeline ait kayıt silinecektir!!!.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="btn w-100" data-bs-dismiss="modal">
                                        İptal
                                    </a>
                                </div>
                                <div class="col">
                                    <input type="hidden" id="itemIdInput" name="id">
                                    <input type="hidden" name="returnUrl" value="@returnUrl">
                                    <button id="deleteButton" type="submit" class="btn btn-danger w-100" data-bs-dismiss="modal">Kaydı Sil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--PersonalIstenCikarModal-->
    <div class="modal modal-blur fade" id="istenCikarModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-purple"></div>
                <div class="modal-body py-4">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-purple icon-lg icon-tabler-info-hexagon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M19.875 6.27c.7 .398 1.13 1.143 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z"/>
                            <path d="M12 9h.01"/>
                            <path d="M11 12h1v4h1"/>
                        </svg>
                        <h3>Emin Misiniz?</h3>
                        <div class="text-muted">
                            Seçmiş Olduğunuz <span class="badge badge-pill" id="istenCikarPersonelAd"></span> Adlı Personel İşten Çıkarılacaktır!!!.
                        </div>
                    </div>
                    <div class="">
                        <form id="istenCikarForm" method="post">
                            <input type="hidden" name="ID" value="">
                            <div id="dateInputDiv" class="m-3 col justify-content-start">
                                <label class="form-label required" for="istenCikarDateInput">İşten Çıkış Tarihi</label>
                                <input id="istenCikarDateInput" type="date" name="EndJobDate" class="form-control flatpickr-input" placeholder="Personal İşten Çıkış Tarihi">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn w-100" data-bs-dismiss="modal">
                                    İptal
                                </a>
                            </div>
                            <div class="col">
                                <button id="istenCikarSubmitButton" type="button" class="btn btn-purple w-100">Personeli İşten Çıkar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--PersonalIstenCikarModal-->
    <!--PersonalIşe Geri Al Modal-->
    <div class="modal modal-blur fade" id="iseGeriAlModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-orange"></div>
                <div class="modal-body py-4">
                    <div class="text-center">

                        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-orange icon-lg icon-tabler-help-hexagon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.425 1.414a3.33 3.33 0 0 1 3.026 -.097l.19 .097l6.775 3.995l.096 .063l.092 .077l.107 .075a3.224 3.224 0 0 1 1.266 2.188l.018 .202l.005 .204v7.284c0 1.106 -.57 2.129 -1.454 2.693l-.17 .1l-6.803 4.302c-.918 .504 -2.019 .535 -3.004 .068l-.196 -.1l-6.695 -4.237a3.225 3.225 0 0 1 -1.671 -2.619l-.007 -.207v-7.285c0 -1.106 .57 -2.128 1.476 -2.705l6.95 -4.098zm1.575 13.586a1 1 0 0 0 -.993 .883l-.007 .117l.007 .127a1 1 0 0 0 1.986 0l.007 -.117l-.007 -.127a1 1 0 0 0 -.993 -.883zm1.368 -6.673a2.98 2.98 0 0 0 -3.631 .728a1 1 0 0 0 1.44 1.383l.171 -.18a.98 .98 0 0 1 1.11 -.15a1 1 0 0 1 -.34 1.886l-.232 .012a1 1 0 0 0 .111 1.994a3 3 0 0 0 1.371 -5.673z" stroke-width="0" fill="currentColor"/>
                        </svg>
                        <h3>Emin Misiniz?</h3>
                        <div class="text-muted">
                            Seçmiş Olduğunuz <span class="badge badge-pill" id="iseGeriAlPersonelAd"></span> Adlı Personel İşe Geri Alınacaktır.
                        </div>
                    </div>
                    <div class="">
                        <form id="iseGeriAlForm" method="post">
                            <input type="hidden" name="ID" value="">
                            <div class="m-3 col justify-content-start">
                                <div class="mb-3">
                                    <label class="form-label required" for="StartJobDateModalInput">İşe Giriş Tarihi</label>
                                    <input id="StartJobDateModalInput" type="date" name="StartJobDate" class="form-control flatpickr-input" placeholder="Personal İşe Giriş Tarihi">
                                </div>
                                <div class="mb-3">
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input" name="IsYearLeaveProtected">
                                        <span class="form-check-label">Yıllık İzin Sayılarını Koru <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="right" title="Hak edilen yıllık izin, kullanılan yıllık izin ve kalan yıllık izin verileri korunsun mu?">?</span></span>
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input" name="IsTakenLeaveProtected">
                                        <span class="form-check-label">Alacak İzin Sayısını Koru <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="right" title="Alacak izin verisi korunsun mu?">?</span></span>
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input" name="IsFoodAidProtected">
                                        <span class="form-check-label">Gıda Yardımı Miktarını Koru <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="right" title="Gıda yardımı miktarı korunsun mu?">?</span></span>
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="FoodAidDateModalInput">Gıda Yardımı Yenilenme Tarihi <span class="form-help" data-bs-toggle="tooltip" data-bs-placement="right" title="Gıda yardımı yenilenirken baz alınacak tarihtir.Boş bırakmanız durumunda yukarıda girmiş olduğunuz işe giriş tarihi baz alınacaktır.">?</span></label>
                                    <input id="FoodAidDateModalInput" type="date" name="FoodAidDate" class="form-control flatpickr-input" placeholder="İsteğe Bağlı!">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn w-100" data-bs-dismiss="modal">
                                    İptal
                                </a>
                            </div>
                            <div class="col">
                                <button id="iseGeriAlSubmitButton" type="button" class="btn btn-orange w-100">Personeli Geri İşe Al</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--PersonalIşe Geri Al Modal-->
    @section Scripts
    {
        <script src="/js/custom/personalDetails/personalMissingDays.js"></script>
    }
}
</div>