@using Core.Enums;
@model ResultWithPagingDataDto<List<PositionDto>>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int query = System.Convert.ToInt32(Context.Request.Query["pageNumber"]);
    if (query == 0)
    {
        query = 1;
    }
}

<h2>Tüm Ünvanlar</h2>
@if (!Model.IsSuccess)
{
    <div class="text-center">
        <h1 class="display-4">Üzgünüz</h1>
        <p>@Model.Message</p>
        <p>@Model.Err</p>
    </div>
}
else
{
    <div class="card">
        <div class="row">
            <div class="col-4">
                <form class="d-flex p-3" asp-controller="Position" asp-action="Index" method="get">
                    <input class="form-control me-2" type="search" placeholder="Ara" name="search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Ara</button>
                </form>
            </div>
            <div class="col-4"></div>
            <div class="col-4 d-inline-flex justify-content-end ">
                <button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#addModal">Ünvan Ekle</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Ünvan Adı</th>
                    <th>Aktif Mi?</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Güncellenme Tarihi</th>
                    <th>Düzenle</th>
                    <th>Sil</th>


                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var data in Model.Data)
                {
                    <tr>
                        <td>@data.Name</td>
                        <td>
                            @{
                                if (data.Status == EntityStatusEnum.Online)
                                {
                                    <span class="badge bg-success">Aktif</span>
                                }
                                else if (data.Status == EntityStatusEnum.Archive)
                                {
                                    <span class="badge bg-danger">Arşivlenmiş</span>
                                }
                                else
                                {
                                    <span class="badge bg-secondary">Pasif</span>
                                }
                            }
                        </td>
                        <td>
                            @data.CreatedAt.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @data.ModifiedAt.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <a asp-controller="Position" asp-action="UpdatePosition" asp-route-pageNumber="@query" asp-route-id="@data.ID" class="btn btn-warning btn-sm text-white">Düzenle</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger archive-button btn-sm" data-bs-toggle="modal" data-bs-target="#archiveBranch" data-item-id="@data.ID">Sil</button>
                        </td>
                    </tr>

                }
            </tbody>

        </table>
        <div class="border-top pt-3 mx-3">
            @await Component.InvokeAsync("PositionPagination")
        </div>
    </div>

    @await Component.InvokeAsync("AddPosition")
    <!--ArchiveModal-->
    <form asp-controller="Position" asp-action="ArchivePosition" method="post">
        <div class="modal fade" id="archiveBranch" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Ünvan Sil</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="alert alert-danger" role="alert">
                            İlgili Ünvan Silinecektir!!!
                            <br />
                            Emin Misiniz?
                        </div>
                        <input type="hidden" id="itemIdInput" name="id">
                        <input type="hidden" name="pageNumber" value="@query">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal Et</button>
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        // Sil butonuna tıklanınca
        document.querySelectorAll(".btn-danger.archive-button").forEach(function (button) {
            button.addEventListener("click", function () {
                var itemId = button.getAttribute("data-item-id"); // data-item-id değerini alın
                console.log(itemId)
                document.getElementById("itemIdInput").value = itemId; // inputa taşıyın
                document.getElementById("itemIdInput").setAttribute("value", itemId);

            });
        });
    </script>
}

